<body>
  <div class = container style="margin-bottom:100%;     background-color: rgb(151, 222, 250);">
    <div class="card-deck">
  
        <div class="card">
          <div class="card-body"  style="background-color: skyblue; display: block;
          margin: auto;">
            <h5 class="card-title">Paracaidismo extremo</h5>
            <p>La escuela de paracaidismo “Desafió Extremo” cuenta con muchos años de experiencia y certificaciones internacionales para darte la mejor y más segura instrucción posible.</p>
          </div>
          <div class="card-footer">
          </div>
        </div>
        <div class="card">
          <div class="card-body" style="background-color: skyblue;display: block;
          margin: auto;">
            <h5 class="card-title">Zumba</h5>
            <p>Aprende la ciencia que hay detrás de Zumba y obtén las herramientas para crear las bases que harán de tus clases una experiencia inolvidable.</p>
          </div>
          <div class="card-footer">
  
          </div>
        </div>
        <div class="card">
          <div class="card-body"  style="background-color: skyblue;display: block;
          margin: auto;">
            <h5 class="card-title">Volleyball</h5>
            <p>Desde la escuelita a los planteles superiores la propuesta del Club abarca todas las edades de la rama femenina.
  
              Somos una gran familia con una riquísima historia en el vóley Uruguayo.
  
              Es una constante que las distintas selecciones nacionales sean nutridas por jugadoras de nuestro Club, destacadas tanto por sus habilidades técnicas como por sus valores humanos.
  
              Practicar Vóley en el Club es un éxito, ¡#SomosFamilia!</p>
          </div>
          <div class="card-footer">
          </div>
  
  
  
  
      </div>
  </div>
  </div>
</body>
