
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Borrar Contrato</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Esta seguro de que quiere borrar este contrato</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click');borrar()">Si</button>
    </div>
</ng-template>
<button id="but" [routerLink]="" ngbDropdownItem (click)="openLg(content)" >Borrar</button>