.ordenar{
    display: inline-block;
    width: 100px;
  }
  .input-group{
    width: 50%;
  }
  #but{
  text-align: center;
  background-color:white;
  width: max-content;
  font-size: 13px;
  border-radius: 40px;
  border:1px solid black;
  padding: 10px;
  font-weight: 700;
  }
  