
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Borrar prestador </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body"  style="background-color: rgb(151, 222, 250);">
        <p>Esta seguro de que quiere borrar este prestador de salud</p>
    </div>
    <div class="modal-footer">
        <button  id="but"  style="background-color: rgb(151, 222, 250);"  type="button" class="btn btn-light" (click)="modal.close('Close click');borrar()">Si</button>
    </div>
</ng-template>

<button id="but"  ngbDropdownItem (click)="open(content)">Eliminar</button>