<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="correo">Correo</label>
                <input type="text" id="correo" [(ngModel)]="data.email" [formControl]="emailv"><br>
                <div class="alert alert-danger" *ngIf="emailv.hasError('required') && (emailv.touched || emailv.dirty)">
                    Campo requerido</div>
                    <div class = "alert alert-danger" *ngIf="emailv.hasError('email') && (emailv.touched || emailv.dirty)">Formato de correo requerido</div>

                <label for="password">Contraseña</label>
                <input type="password" id="password" [(ngModel)]="data.password" [formControl]="passv">
                <div class="alert alert-danger" *ngIf="passv.hasError('required') && (passv.touched || passv.dirty)">
                    Campo
                    requerido</div>
                <div class="alert alert-danger" *ngIf="passv.hasError('minlength') && (passv.touched || passv.dirty)">
                   Tamanio minimo 4</div>
                <div class="alert alert-danger" *ngIf="passv.hasError('maxlength') && (passv.touched || passv.dirty)">
                    Tamanio maximo 100</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close('Save click');register()">Registrarse</button>
    </div>
</ng-template>

<li class="nav-item  ">
    <a class="nav-link" [routerLink]="" (click)="open(content)">Registrar</a>
</li>