<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar  Medio de pago</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="background-color: rgb(151, 222, 250);">
        <form>
            <div class="form-group" >
                <label class="ordenar" for="nombre">Nombre</label>
                <input class="ordenar1" style="margin-left: 20%;" type="text" id="nombre" [(ngModel)]="pag.nombre"
                    [ngModelOptions]="{standalone: true}"><br>
        <br>
                    <br>

                    <input type="radio" value="true" name="ac" [(ngModel)]="activo1" ngModel> activo
                    <input type="radio" value="false" name="ac"[(ngModel)]="activo1" ngModel> inactivo
            </div>


        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="but"   class="btn btn-light" style="background-color: rgb(151, 222, 250);"(click)="modal.close('Close click');PutMedioDePago()">Editar</button>
    </div>
</ng-template>

<button   id="but"   ngbDropdownItem (click)="open(content)">Editar</button>
