.ordenar{
    display: inline-block;
    width: 100px;
  }
  .input-group{
    width: 50%;
  }
  #but{
  text-align: center;
  background-color: white;
  width: max-content;
  font-size: 13px;
  border-radius: 40px;
  border:1px solid black;
  padding: 10px;
  font-weight: 700;
  }
  
  table{
    border-collapse: collapse;
  }
  
  td, th{
    padding: 5px 10px;
  }
  main{
    padding:  1em 2em;
  }
  
  @media( max-width:80em){
    table{
      width: 100%;
    }
    table tr{
      display: flex;
      flex-direction: column;
    }
  
  table td[data-titulo]{
  display: flex;
  }
  
  table td[data-titulo]::before{
  content: attr(data-titulo);
  width: 40%;
  
  font-weight: bold;
  }
  
  
    table thead{
      display: none;
    }
  }